<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div id="wrapper">
      <h1>TinyApp</h1>

      <div id="login">
        <% if (!username) { %>
        <h2>Please enter your username</h2>
        <form action="/login" method="POST">
          <input type="text" name="username">
          <button class="btn">Login</button>
        </form>
        <% } else { %>
        <h2>Welcome back, <%= username %></h2>
        <form action="/logout" method="POST">
          <button class="btn">Log Out</button>
        </form>
        <% } %>
      </div>
      

      <div id="url-container">