<% include partials/_header %>

<form action="/urls" method="POST">
  <label for="longURL">Enter a URL:</label>
  <input type="text" name="longURL" id="longURL" placeholder="http://">
  <input type="submit" value="Submit">
</form>

<% include partials/_footer %>