<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
    <ul>
      <h3>Short URL: <%= shortURL %></h3>
      <form action="/urls/<%= shortURL %>" method="POST">
        <input type="text" value="<%= longURL %>" name="longURL">
        <input type="submit" value="Update">
      </form>
      
    </ul>
  </body>
  
</html>