<% include partials/_header %>

<h2>Enter a URL:</h2>
<form action="/urls" method="POST">
  <input type="text" name="longURL" id="longURL" placeholder="http://">
  <button class="btn">Submit</button>
</form>

<% include partials/_footer %>