<% include partials/_header %>

<a href="/urls"><button class="btn">View All</button></a>

<div>
  <h3>Short URL: <%= shortURL %></h3>
  <form action="/urls/<%= shortURL %>?_method=PUT" method="POST">
    <input type="text" value="<%= longURL %>" name="longURL">
    <button class="btn">Update</button>
  </form>
  <p>The link was used <em><%= counter %></em> time(s).</p>
</div>

<% include partials/_footer %>