<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>

    <ul>
      <% for (let url in urls) { %>
        <li><%= urls[url] %>: <%= url %></li>
      <% } %>
    </ul>
  </body>
  
</html>